	<div id="footer-wrapper">
		<div id="footer" class="container_12">   <!-- footer start-->
			<div class="grid_3 alfa">
				<h4>خريطة الموقع</h4>
				<ul class="nav">
					<li><a href="/">الصفحه الرئيسية</a></li>
					<li><a href="#">من نحن؟</a></li>
					<li><a href="geeks.html">مجلة نظم ... مهاويس</a></li>
					<li><a href="index.html">كيفية الاشتراك</a></li>
					<li><a href="index.html">شاركنا اقترحاتك .. اتصل بنا</a></li>
					
					
				</ul>
			</div>
			<div class="grid_4">
				<h4>صورنا على فليكر</h4>
				<img src="img/flicker.png"/>
			</div>	
			<div class="grid_5 omega">
				<h4>أضف بريدك على قائمتنا البريدية</h4>
				<form>
					<input type="text" name="e-mail" placeholder="EX:mmetwally@nozom.org" />
				</form>
				<p class="true grid_3">Thanks .. check ur mail now</p><br />
				<p class="false grid_3">Sorry .. wrong mail or duplicated one</p>
				<div id="follow">
					<h4 class="grid_3">كيف تصل لنا</h4>
					<ul>
						<li><span>المقر الرئيسي : </span>43 شارع احمد ماهر . المنصورة الدقهلية مصر</li>
						<li><span>البريد الالكترونى: </span>info@nozom.org</li>
						<li><span>رقم التليفون: </span> 222 22 22 016 +2</li>
						<li>
						
								<a class="t" href=""></a>
								<a class="f" href=""></a>
							
						</li>
							
					</ul>
				</div>
			</div>
			<div class="grid_12 line"></div>
			<div  id="copy" class="grid_12">
				<p>جمعية نظم لتكنولوجيا المعلومات - مشهرة برقم ٢٠١٢ لسنة ٢٠١١.</p>
			</div>
		</div>
	</div>        <!--footer end-->