	<div id="header">    <!--container start-->

    		<header class="container_12">      <!--header start--> 
				<a class="name grid_5 alpha"  href="/"><img id="logo" alt="logo" src="img/name.png" /></a>
				<nav class="grid_7 clearfix omega">
					<ul id="navbar" class=""> 
	                	<li id="founders"><a href="founders.html">المؤسسين</a>
	                		<ul id="names">
	                			<li>أحمد سليمان فرغل</li>
	                			<li>خالد العدوى</li>
	                			<li>إسلام الزيات</li>
	                			<li>ريهام محمد يسرى</li>
	                			<li>مصطفى الحسينى</li>
	                			<li>ماهى عثمان</li>
	                			<li>هيثم الغريب</li>
	                		</ul>
	                	</li>
	                    <li><a href="contact.html">اتصل بنا</a></li>
	                    <li><a href="geeks.html">مهاويس نظم</a></li>
	                    <li><a href="how,html">كيفية الاشتراك</a></li>
	                    <li><a href="what.html">ماهى نظم؟</a></li>
	                    <li><a class="active" href="index.html">الصفحة الرئيسية</a></li>
	                    
	                </ul>
				</nav>
        </header>                  <!--header end-->
</div>