<div id="header">    <!--container start-->
	<header class="container">      <!--header start-->
		<div class="row-fluid">
			<a class="name span5"  href="/"><img id="logo" alt="logo" src="/img/logo.png" /></a>
			<nav class="span7">
				<ul id="navbar" class=""> 
	                <li><a class="active" href="/about/">
	                	عن نظم
	                </a></li>
	            	<li><a href="/team/">
	            		فريق العمل
	            	</a></li>
	                <li><a href="/projects/">
	                	المشاريع
	                </a></li>
	                <li><a href="/activities/">
	                	فعاليات
	                </a></li>
	                <li><a href="/membership/">
	                	الاشتراك
	                </a></li>
	            </ul>
			</nav>
			
		</div> 
	</header>                  <!--header end-->
</div>