---
layout: wrapper
---
<div id="landing-top">
	<div class="container">		
        <div class="row-fluid">
			<div id="intro-text" class="span6" >     <!--intro start-->
				<h1>تكنولوجيا، مصادر مفتوحة، ريادة اعمال</h1>
				<p>
		نُظُم هي جمعية مصرية تطوعية لتكنولوجيا المعلومات.هي جمعية غير هادفة للربح إنما تهدف الى المساعدة في خلق فرص عمل من خلال منح جميع الأدوات للمجتمع وتوفير البيئة التي تساعد في خلق النظام الإيكولوجي الشامل للابتكار وريادة الأعمال في صناعة تكنولوجيا المعلومات .
				</p>
				<strong><a href="">إعرف اكتر عن نظم...</a></strong>
			</div>           <!--intro end-->
			
			    <div id="slider" class="span6 carousel slide hidden-phone">
				    <!-- Carousel items -->
				    <div class="carousel-inner">
		   			<div class="item active">
		   				<img src="/img/intro-pic.png" alt="" title="#htmlcaption"  />
		   				<div class="carousel-caption">
		   					<h4>الحمد لله رب العالمين</h4>
		   					<p>يا رب تشتغل</p>
		   				</div>
		   			</div>
		   			<div class="item">
		   				<img src="/img/intro-pic2.png" alt="" title="#htmlcaption"  />
		   				<div class="carousel-caption">
		   					<h4>الحمد لله رب العالمين</h4>
		   					<p>يا رب تشتغل</p>
		   				</div>
		   			</div>
		   			<div class="item">
		   				<img src="/img/intro-pic3.png" alt="" title="#htmlcaption"  />
		   				<div class="carousel-caption">
		   					<h4>الحمد لله رب العالمين</h4>
		   					<p>يا رب تشتغل</p>
		   				</div>
		   			</div>
		   			<div class="item">
		   				<img src="/img/intro-pic4.png" alt="" title="#htmlcaption"  />
		   			</div>
				    </div>
				    <!-- Carousel nav -->
				    <a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
				    <a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>
			    </div>
			    
        </div>
	</div>
</div>
<div id="landing-news">
	<div class="container">		
		<div class="row-fluid">
			<div class="col span6" >   <!--content start-->
					<img src="img/col1-pic.png" />
					<h3>الصالون الثقافي التقني الأول لنظم</h3>
					<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
					<div class="row-fluid">
		                <a class="span3" href="">إقرأ المزيد</a>
					</div>
			</div>
			<div class="col span6">
	                <img src="img/col1-pic.png" />
					<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
					<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
				
					<div class="row-fluid">
		                <a class="span3" href="">إقرأ المزيد</a>
					</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col span6">
					<img src="img/col1-pic.png" />
					<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
					<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
					<div class="row-fluid">
		                <a class="span3" href="">إقرأ المزيد</a>
					</div>
			</div>
			<div class="col span6">	
					<img src="img/col1-pic.png" />
					<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
					<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
					<div class="row-fluid">
		                <a class="span3" href="">إقرأ المزيد</a>
					</div>
			</div>                       <!--content end-->
			
		</div>	
		<div class="row">
			<div class="span4 offset8">
				<div class="pagination">
					<ul>    <!--pagination start-->
						<li><a class="active" href="">&lt;</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&gt;</a></li>
					</ul>               <!--pagination end-->
					
				</div>
			</div>
		</div>
		
	        </div>
		
	</div>
	
</div>