--- 
layout: wrapper 
---
<div id="landing-top">
	<div class="container">
		<div class="row-fluid">
			<div id="intro-text" class="span6">
				<!--intro start-->
				<h1>تكنولوجيا، مصادر مفتوحة، ريادة اعمال</h1>
				<p>نُظُم هي جمعية مصرية تطوعية لتكنولوجيا المعلومات.هي جمعية غير
					هادفة للربح إنما تهدف الى المساعدة في خلق فرص عمل من خلال منح جميع
					الأدوات للمجتمع وتوفير البيئة التي تساعد في خلق النظام الإيكولوجي
					الشامل للابتكار وريادة الأعمال في صناعة تكنولوجيا المعلومات .</p>
				<strong><a href="">إعرف اكتر عن نظم...</a></strong>
			</div>
			<!--intro end-->
			<div class="span6 flex-container hidden-phone">
				<div id="slider" class="flexslider">
					<ul class="slides">
						<li><img src="/img/1.jpg" />
							<p class="flex-caption">ان شاء الله </p></li>
						<li><img src="/img/2.jpg" />
							<p class="flex-caption">يارب لك الحمد </p></li>
						<li><img src="/img/3.jpg" /></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="landing-news">
	<div class="container">
		<div class="row-fluid">
			<div class="col span6">
				<!--content start-->
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم</h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح
					بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية
					أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج
					لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في
					الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح
					بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
				<div class="row-fluid">
					<a class="span3" href="">إقرأ المزيد</a>
				</div>
			</div>
			<div class="col span6">
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان</h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح
					بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية
					أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج
					لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في
					الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح
					بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>

				<div class="row-fluid">
					<a class="span3" href="">إقرأ المزيد</a>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col span6">
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان</h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح
					بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية
					أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج
					لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في
					الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح
					بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
				<div class="row-fluid">
					<a class="span3" href="">إقرأ المزيد</a>
				</div>
			</div>
			<div class="col span6">
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان</h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح
					بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية
					أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج
					لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في
					الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح
					بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
				<div class="row-fluid">
					<a class="span3" href="">إقرأ المزيد</a>
				</div>
			</div>
			<!--content end-->

		</div>
		<div class="row-fluid">
			<div class="span5 offset">
				<div class="pagination">
					<ul>
						<!--pagination start-->
						<li><a class="active" href="">&lt;</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&gt;</a></li>
					</ul>
					<!--pagination end-->

				</div>
			</div>
		</div>

	</div>

</div>

</div>