---
layout: wrapper
---
		<div id="intro-text" class="grid_5" >     <!--intro start-->
			<h2>محاولة جديدة هدفها اثراء </h2>
			<h2>المحتوى التقنى العربى .. شاركنا</h2>
			<p>نظم هي جمعية مصرية لتكنولوجيا المعلومات تهدف الى المساعدة في خلق فرص عمل من خلال منح جميع الادوات للمجتمع وتوفير البيئة التي تساعد في خلق النظام الإيكولوجي الشامل للابتكار وريادة الأعمال في صناعة تكنولوجيا المعلومات.</p>
			<p>نظم هي جمعية مصرية لتكنولوجيا المعلومات تهدف الى المساعدة في خلق فرص عمل من خلال منح جميع الادوات للمجتمع وتوفير البيئة التي تساعد في خلق النظام الإيكولوجي الشامل للابتكار وريادة الأعمال في صناعة تكنولوجيا المعلومات.</p>
			<a href="">إعرف عن نظم اكتر</a>
			
		</div>           <!--intro end-->
        
		<div id="slider" class="grid_7">
   			 <img src="img/intro-pic.png" alt="" title="#htmlcaption"  />
   			 <img src="img/intro-pic2.png" alt="" title="#htmlcaption" />
    		<img src="img/intro-pic3.png" alt="" title="#htmlcaption"  />
    		<img src="img/intro-pic4.png" alt="" title="#htmlcaption"/>
    		<img src="img/intro-pic5.png" alt="" title="#htmlcaption"/>
		</div>
		<div id="htmlcaption" class="nivo-html-caption">
    	<strong>نظم</strong>محاولة جديدة هدفها اثراء المحتوى التقنى العربى .. شاركنا <a href="#"> Nozom_ngo </a>.
		</div>
		
		
		<div  id="def" class="mbl grid_12">    <!--def start-->
			<p>نظم هي عمل تطوعي خيري يجمع بين العمل العلمي و الخيري عن طريق نقل الخبرات العالمية في هذا المجال الى اكبر عدد من الشباب للمساعدة في خلق نهضة تقنية عامة في المجتمع و للمساعدة في انشاء شركات فاعلة في هذا المجال في الوطن العربي. وتؤمن بخلق الوظائف عن طريق انشاء شركات مبنية على الشباب صاحب الافكار و ريادة الاعمال<span> (entrepreneurs) </span>و ذلك عن طريق العمل على خلق نظام ايكولوجي متكامل لبيئة الابداع و الابتكار.</p>
		</div>             <!--def end-->
	
    	<div class="news">
             <h2 class="grid_4">أخر اخبار نظم</h2>
            <a href=""><img src="img/news-pic.png" /></a>
         </div>
            <hr class="mtl"/>
	
		<div class="col grid_6 alpha" >   <!--content start-->
			
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
			
                <a class="mbl" href="">إقرأ المزيد</a>
	
                <img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
			
                <a class="mbl" href="">إقرأ المزيد</a>
		</div>
		
		
		<div class="col grid_6 omega">
			
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
			
				<a class="mbl" href="">إقرأ المزيد</a>
		
			
				<img src="img/col1-pic.png" />
				<h3>الصالون الثقافي التقني الأول لنظم .. كتبه : احمد سليمان </h3>
				<p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
			
			<a class="mbl" href="">إقرأ المزيد</a>
			
		</div>                       <!--content end-->

			<hr />
	
		
		
			<ul id="pagination">    <!--pagination start-->
				<li><a class="active" href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
			</ul>               <!--pagination end-->
	
        </div>