---
layout: wrapper
---
            <div id="intro">    <!--intro start -->
            	<div class="title">
                    <h2>صـــالون - ملتقى - نظم التقنى الأول</h2>
                    <p>كتبه : احمد سليمان </p>
                </div>
                <p>23 July 2011<br />15 comments</p>
                
                
                
                <hr />
                <p>جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.</p>
                <img src="img/intro.png" />
            </div>           <!-- intro end-->
            <div id="text">    <!--text start-->
                <p>تزدهر هذه الصالونات دائمًا في مناخ الحرية، الذي يسمح بمناقشة القضايا الفكرية وعلى قبول فكرة الرأي، والرأي الاخر. يجب الاشارة الى أن فكرة الصالون الثقافي تتميز بأن بها عنصر المشاركة والحوار بين الحضور، وهو ما يحفز الذهن، ويشعل الحماس، ويكسر حاجز الملل، ويحفز على المناقشة والإبداع.
    </p>
    <p>ولأن نظم تسعى بجدية لاثراء وبناء المجتمع بكل جوانبه فكان لا بد من وجود صالون ثقافي متخصص في تكنولوجيا المعلومات وذلك للدور الذي تلعبه التكنولوجيا في حياتنا وثقافتنا وكل أنشطتنا، ولأن نظم ولدت في بيئة حرة ومناخ حر فكان عنوان الصالون:</p>
                
                </p>
                    <p>أنا حر… أنا أستخدم البرمجيات الحرة<br />
                    والسؤال الان عن تفاصيل الحدث…<br />
                    المكان: مكتبة بوكس اند بينز، المنصورة<br />
                        الزمان: 7.30 – 9.30 مساءاً، الثلاثاء 12 يوليو 2011<br />
                        كيفية الحضور: لضيق المكان فان العدد المسموح للحضور 30 فكانت الضرورة أن يكون الحضور بالدعوات<br />
                    كيفية المتابعة: يتم بث اللقاء على الانترنت مباشرةً في توقيت الحدث وسنعلن عن مكان البث صباح يوم الحدث كما يمكنك متابعة التطورات على الهاش تاج #nozom على تويتر<br />
    كيفية المشاركة: شاركنا بأسئلتك واستفساراتك وارائك وملاحظاتك مباشرةً من الان وحتى انتهاء الحدث على جروب الفيس بوك أو على الهاش تاج #nozom على تويتر وسيقوم فريق اللجنة الاعلامية بتجميع الاستفسارات والمشاركات والاراء لطرحها داخل النقاش على الهواء مباشرةً
                </p>
            </div>           <!-- text end-->
            
            <hr />
            <h3 class="comment">إترك تعليقاً</h3>
            <br class="clear" />
            <div class="media clearfix">
            	<img src="img/comment-img.png" />
                <p class="auther-name">محمود متولى</p>
				<p class="time">12 اغسطس 2011 :: 09:23 pm</p>
                <p class="content">جرت العادة على أن الصالون الثقافي هو لقاء يجمع عددًا يتراوح بين 20 إلى 30 فرد يتم النقاش بينهم حول قضية عامة، أو قيمة أخلاقية أو اجتماعية ، أو مشكلة حياتية، أو أخذ الرأي حول مسألة غامضة تحتاج لبحث وحل، بحيث يتم طرح الموضوع للنقاش في الصالون، ثم يبدأ الحضور في الإدلاء بآرائهم وأطروحاتهم حسب نظام يحكمه مسئول الصالون، بما يسمح بتداول الأفكار بحرية وبنظام، وشعور الحضور بالفائدة.
                </p>
            </div>
            <div id="comment" class="grid_8">
            	<h2>إترك تعليقاً</h2>
                
                <form>
                	<input type="text" name="name" id="name" placeholder="اسمك الشخصى" />
                    <input type="text" name="name" id="name" placeholder="بريدك الالكترونى" />
                    <input type="text" name="name" id="name" placeholder="موقعك الشخصى" />
                    <textarea type="text"></textarea>
                    <button type="submit">إترك تعليقا</button>
                </form>
                
                
                
            </div>
         </div>